LOOP_CONFIG_FILE='../deploy/local/loop-event-svc.example.toml'
LOOP_HTTP_ADDR='0.0.0.0:3000'
LOOP_PG_CONN='postgresql://localhost:5132/loop?user=srus&password=wdnmd'
LOOP_REDIS_CONN='redis://localhost:6319'
LOOP_JWT_RSA_PRI_KEY_FILE='../deploy/local/secrets/jwt_private.pem'
LOOP_JWT_RSA_PUB_KEY_FILE='../deploy/local/secrets/jwt_public.pem'
LOOP_SMTP_TOKEN='REDACTED_SMTP_TOKEN'
LOOP_S3_ACCESS_KEY_ID='loopadmin'
LOOP_S3_SECRET_ACCESS_KEY='loopadmin123'
