LOOP_HOST_CONFIG_FILE='./examples/loop-api-svc.example.toml'
LOOP_HOST_SECRETS_DIR='./secrets'
LOOP_HOST_LOG_DIR='../../srv/log'
LOOP_API_SVC_PORT='3000'
LOOP_PG_PORT='5132'
PGDATABASE='loop'
PGUSER='srus'
PGPASSWORD='wdnmd'
LOOP_REDIS_PORT='6319'
LOOP_REDIS_PASSWORD='loopredis123'
LOOP_EMAIL_FROM='Loop <no-reply@example.com>'
LOOP_SMTP_SENDER='smtp-user'
LOOP_SMTP_DOMAIN='smtp.example.com'
LOOP_SMTP_TOKEN='local-smtp-token'
LOOP_S3_BUCKET='loop-local'
LOOP_S3_REGION='us-east-1'
LOOP_MINIO_API_PORT='9000'
LOOP_MINIO_CONSOLE_PORT='9001'
LOOP_S3_ENDPOINT_URL='http://127.0.0.1:9000'
LOOP_S3_PUBLIC_BASE_URL='http://127.0.0.1:9000/loop-local'
LOOP_S3_KEY_PREFIX='media'
LOOP_S3_FORCE_PATH_STYLE='true'
LOOP_S3_ACCESS_KEY_ID='loopadmin'
LOOP_S3_SECRET_ACCESS_KEY='loopadmin123'
